SCOUT_BASE_URL=https://scoutsrv.tornbloms.net:22160
SCOUT_USERNAME=administrator@tornbloms.net
SCOUT_PASSWORD=DITT-LÖSENORD
SCOUT_DOMAIN=
SCOUT_TEST_OU_PATH=/MCP-Test
SCOUT_IGNORE_TLS=true
SCOUT_AUTH_MODE=basic
SCOUT_DIAGNOSTICS_PATH=./diagnostic